<div class="post-card post-detail">
  <h1 class="post-title"><%= page.title %></h1>
  <div class="post-content">
    <%- page.content %>
  </div>
</div>

<div class="friends-container">
  <% theme.friends.forEach(function(friend){ %>
    <a href="<%- friend.link %>" class="friend-card" target="_blank" rel="noopener noreferrer">
      <div class="friend-avatar">
        <img src="<%- friend.avatar %>" alt="<%= friend.name %>">
      </div>
      <div class="friend-info">
        <div class="friend-name"><%= friend.name %></div>
        <div class="friend-descr"><%= friend.descr %></div>
      </div>
    </a>
  <% }) %>
</div>